# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Logs
*.log
logs/
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

# Docker
*.dockerignore
*.env.docker

.venv/
app/__pycache__